<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
      <h1>mon prospect</h1>
    <% end %>
  <div class="menu">
    <div class="menu-item">
    <%= link_to "#learnmore" do %>
      En savoir +
    <% end %>
    <%= link_to "#pricing" do %>
      Nos tarifs
    <% end %>

    <%= link_to "#contact" do %>
      Contact
    <% end %>
    </div>
<% if user_signed_in? %>
 <%= link_to  destroy_user_session_path, method: :delete,  class: "btn-navbar" do %>
  Déconnexion
   <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "btn-navbar" do %>
      Se connecter
    <% end %>
  <% end %>

  </div>



</div>
