<div class="navb">
<div class="phone">
  <div class="icon">
    <i class="fas fa-phone"></i>
  </div>
  <div class="number">
    +33 (0)2 38 722 722
  </div>
</div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
      <h1><%= image_tag "logo.png", height: "40px" %>rospect</h1>


    <% end %>
  <div class="menu">
    <div class="menu-item">
<% if user_signed_in? %>
 <%= link_to  destroy_user_session_path, method: :delete do %>
  Déconnexion
   <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      Connexion
    <% end %>
  <% end %>
  </div>
    <%= link_to new_lead_path, class: "btn-navbar" do %>
      Obtenez un devis
    <% end %>
  </div>
</div>
</div>
