<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
      <h1>mon prospect</h1>
    <% end %>
  <div class="menu">
    <div class="menu-item">
    <%= link_to "#" do %>
      Nos tarifs
    <% end %>
    <%= link_to "#" do %>
      En savoir +
    <% end %>
    <%= link_to "#" do %>
      Contact
    <% end %>
    </div>

    <%= link_to new_user_session_path, class: "btn-navbar" do %>
      Se connecter
    <% end %>
  </div>



</div>
