<div class="banner" style="background-image: url(<%= asset_path 'banner.png' %>);">
  <div class="banner-text">
    <h1>Trouver des leads <strong class="fancy-underline">Loi Pinel</strong> n'a jamais été aussi simple !</h1>
    </div>
  <div class="board">

<%= simple_form_for(@lead) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-board">
    <div class="form-item">
    <p>Je souhaite obtenir <%= f.input :quantity, label: false, collection: [5, 6, 7, 8, 9, 10 ], default: 1 %> <p>rendez-vous </p> <%= f.input :leadtype, label: false, collection: ["présentiels", "téléphoniques"], default: "rendez-vous",  class: "form-item" %> </p>
    </div>
    <div class="form-item">
      <p>de déficalisation en région  <%= f.input :region, label: false, collection: ["partout en France", 'Alsace','Aquitaine','Auvergne' ,'Basse-Normandie' ,'Bourgogne','Bretagne','Centre' ,'Champagne-Ardenne','Corse','Franche-Comté','Haute-Normandie' ,'Ile-de-France' ,'Languedoc-Roussillon' ,'Limousin','Lorraine','Midi-Pyrénées','Nord-Pas-de-Calais','Pays de la Loire','Picardie','Poitou-Charentes','PACA','Rhône-Alpes','DOM'], default: "partout en France",  class: "form-item" %></p>
    </div>
    <div class="form-item">
      <p>mon email est <%= f.input :email, label: false %></p> <p> et je suis joignable au <%= f.input :number, label: false %></p>
    </div>


  <div class="form-item">
    <%= f.button :submit,  'Simuler un devis', class: "btn-cta" %>


  </div>
  </div>


<% end %>
</div>
</div>
