<br/><br/><br/><div class="padding"><br/></div>
<div class="container-box">
  <div class="head">
  <div class="card-product">
  <div class='edit'>    <%= link_to 'Modifier le compte', edit_user_registration_path %>
</div>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= @user.company %></h2>
    <p><%= @user.lastname %></p>
    <p><%= @user.email %></p>
    <p><%= @user.phone %></p>
    <p>Statut du compte: <span class="badge badge-warning">En attente</span>
</p>
  </div>
</div>

  <div class="action-cta">
<button type="button" class="btn-cta" data-toggle="modal" data-target="#exampleModal">
  Acheter des rendez-vous
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%= render 'shared/orders' %>

      </div>

    </div>
  </div>
</div>
  </div>

</div>

<div class="tabs">
<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to 'Vos commandes', orders_path, class: 'tab-underlined  active' %>
  </li>
  <li>
    <%= link_to 'Vos rendez-vous', appointments_path, class: 'tab-underlined' %>
  </li>
  <li>
    <%= link_to 'Vos factures', invoices_path, class: 'tab-underlined' %>
  </li>
</ul>
</div>

<div class="sheet-box">
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Recherche
  </div>
</form>
<div class="table-responsive justify-content-center">

<table class="table-desktop justify-content-center table table-hover mx-auto w-autor">
  <thead>
    <tr>
            <th scope="col">Nombre de rendez-vous</th>
        <th scope="col">Région</th>
                <th scope="col">Montant</th>
                <th scope="col">Status de la commande</th>

    </tr>
  </thead>
  <% if @orders.present? %>
  <tbody>


        <% @orders.each do |order| %>

    <tr>
      <td><%= order.quantity %></td>
        <td><%= order.region %></td>
       <td><%= order.quantity*399 %> € HT</td>
        <td><span class="badge badge-warning"><%= order.status %></span></td>

    </tr>
            <% end %>



  </tbody>
</table>
<% else %>
<div class="body-sheet">
  <p>Vous n'avez pas encore de commandes</p>
  <%= image_tag "empty.jpg", class: "empty" %>

</div>
                        <% end %>
</div>

</div>
<div class="padding"></div>


</div>



