<div class="head1">
  <div class="content">
  <div class="texthead1">
    <h2>Obtenir des rendez-vous <strong class="fancy-underline">défiscalisation</strong> n'a jamais été aussi simple</h2>
    <br/>
    <h3>
Nous intervenons en amont de votre développement, notre équipe de commerciaux sédentaires s'occupent de la fourniture de rendez-vous, verifiés et confirmés. Il ne vous reste plus qu'à vendre.
</h3>
  </div>
  <div class="form">

  </div>

  </div>
</div>

<div class="form-container">
    <div class="register-box">
    <div class="form">
      <h6>
        <b>
          Commandez des rendez-vous ici
        </b>
      </h6>
            <% if user_signed_in? %>
                        <%= render 'shared/orders' %>

<% else %>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, label: 'Adresse email',
                        required: true, placeholder: 'Email',
                       label: false,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :company, label: 'Entreprise', placeholder: 'Entreprise',
                        required: true, label: false
                    %>
            <%= f.input :phone, label: 'Téléphone',placeholder: 'Téléphone',
                        required: true, label: false %>
            <%= f.input :password, placeholder: 'Mot de passe',
                        required: true, label: false,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, placeholder: 'Confirmez le mot de passe',
                        required: true, label: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Inscription", class: 'btn-cta' %>
          </div>
        <% end %>
              <p>
                En remplissant ce formulaire vous acceptez d'être contacté par email ou téléphone, afin d'obtenir des informations commerciales. Vous serez susceptible de recevoir des communications de la part de mon-prospect.fr pour vous proposer des articles de blog et des documents répondant à vos problématiques et besoins potentiels. Vous pourrez vous désinscrire à tout moment directement dans nos emails via le centre de préférences.


            </p>
<% end %>
            </div>

  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.shutterstock.com/image-illustration/panorama-office-many-computer-monitors-260nw-376346551.jpg);" >


  </div>




  <div class="board" id="learnmore" >


<div class="cards">

  <div class="card-category" >
        <div class="usp-item">
         <div class="usp"><%= image_tag "expert.svg", class: "img-usp" %></div>
        <h3>La prospection, notre <b>expertise</b></h3>
          <p>
          Nous connaissons parfaitement les problématiques terrain que vous, ou vos conseillers, rencontrez au quotidien et avons mis en place un processus commercial vertueux.
        </p>

      </div>
</div>

<div class="card-category" >
        <div class="usp-item">
        <div class="usp"><%= image_tag "crm.svg", class: "img-usp" %></div>
        <h3>Suivez l'évolution de vos <b>leads</b></h3>
        <p>
          Nous avons développé un outil CRM qui vous permez un suivi de vos prospects, de déclarer de faux contacts, ou commander de nouveaux rendez-vous en trois clics.
</p>
      </div>
</div>

<div class="hidemobile">
<div class="card-category ">

</div>
</div>
<div class="card-category" >
              <div class="usp-item">
              <div class="usp"><%= image_tag "check.svg", class: "img-usp" %></div>
        <h3>Des critères <b>garantis</b></h3>

<p>
- Taux d'endettement inférieur à 25%
</p>
<p>
  - Imposition annuelle minimum inférieure à 3500 €.
</p>
      </div>
</div>
<div class="card-category" >
              <div class="usp-item">
              <div class="usp"><%= image_tag "target.svg", class: "img-usp" %></div>
        <h3>Une prospection <b>ciblée </b> </h3>
        <p>
          Notre expertise vous fait gagner du temps. Nos prospects sont ciblés par des professionnels expérimentés, sous reserve de disponibilité dans votre département.
</p>
      </div>
</div>
<div class="card-category" >
              <div class="usp-item">
              <div class="usp">
                <%= image_tag "team.svg", class: "img-usp" %></div>
        <h3>Des pros du <b>pre-sales</b></h3>

      <p>
         Véritables commerciaux sédentaires, nos agents apportent une vraie valeur ajoutée, tant sur le plan de votre développement qu’en termes d’expérience client de vos futurs prospects.
        </p>
      </div>
</div>

</div>
 </div>




<div id="pricing" class="title-section">
 <h2><strong class="fancy-underline" >Nos packs</strong></h2>
</div>
<div class="pricing">
  <div class="pricing-item">
    <h3><i class="fas fa-play"></i><br/>Starter </h3>

    <div class="desc">

5 Rendez-vous exclusifs
    </div>
    <div class="price">
<p>1 995 € HT</p>

    </div>


  <%= link_to orders_path, class: "btn-cta" do %>
      Acheter
    <% end %>
  </div>
  <div class="pricing-item">
        <h3><i class="fab fa-telegram-plane"></i></i><br/>Boost </h3>

    <div class="desc">
10 Rendez-vous exclusifs

    </div>
    <div class="price">
<p>3 990 € HT</p>

    </div>

    <%= link_to orders_path, class: "btn-cta" do %>
      Acheter
    <% end %>
  </div>
  <div class="pricing-item">
            <h3><i class="fas fa-rocket"></i></i><br/>Expert </h3>
    <div class="desc">
20 Rendez-vous exclusifs

    </div>
    <div class="price">
      <p>7 980 € HT</p>
    </div>


    <%= link_to orders_path, class: "btn-cta" do %>
      Acheter
    <% end %>
  </div>
</div>
<div  class="title-section">
 <h2><strong class="fancy-underline" >Nous contacter</strong></h2>
</div>
<div class="contact" id="contact">


<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email, label: false, placeholder: 'email' %>
    <%= f.input :message, label: false, placeholder: 'message' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Envoyer", class: 'btn-cta' %>
  </div>
<% end %>
</div>








