<div class="head1">
  <div class="content">
  <div class="texthead1">
    <h2>Obtenir des rendez-vous <strong class="fancy-underline">défiscalisation</strong> n'a jamais été aussi simple</h2>
    <br/>
    <h3>Centre d’appel dédié au métier de la défiscalisation, «  MonProspect » s’est structuré afin de proposer une solution complètement intégrée allant de la fourniture de rendez-vous verifié à la gestion de vos équipes via un CRM simple et efficace</h3>
  </div>
  <div class="form">

  </div>

  </div>
</div>

<div class="form-container">
    <div class="register-box">
    <div class="form">
      <h6>
        <b>
          Inscription ici
        </b>
      </h6>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, label: 'Adresse email',
                        required: true, placeholder: 'Email',
                       label: false,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :company, label: 'Entreprise', placeholder: 'Entreprise',
                        required: true, label: false
                    %>
            <%= f.input :phone, label: 'Téléphone',placeholder: 'Téléphone',
                        required: true, label: false %>
            <%= f.input :password, placeholder: 'Mot de passe',
                        required: true, label: false,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, placeholder: 'Confirmez le mot de passe',
                        required: true, label: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Inscription", class: 'btn-cta' %>
          </div>
        <% end %>
              <p>
                Nous intervenons en amont de votre développement et vous proposons une solution complètement intégrée allant de la fourniture de rendez-vous, verifié et confirmé, jusqu’à la gestion de vos équipes via un CRM simple et efficace.
            </p>

            </div>

  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511376979163-f804dff7ad7b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);" >


  </div>




  <div class="board" id="learnmore" >


<div class="cards">

  <div class="card-category" >
        <div class="usp-item">
         <div class="usp"><img src="https://www.flaticon.com/svg/vstatic/svg/2706/2706950.svg?token=exp=1610623060~hmac=27212b29062995c4b053f031d875838a" class="img-usp"></div>
        <h3>La prospection, notre <b>expertise</b></h3>
          <p>
          Nous connaissons parfaitement les problématiques terrain que vous, ou vos conseillers, rencontrez au quotidien et avons mis en place un processus commercial vertueux.
        </p>

      </div>
</div>

<div class="card-category" >
        <div class="usp-item">
        <div class="usp"><img src="https://www.flaticon.com/svg/vstatic/svg/3930/3930395.svg?token=exp=1610623423~hmac=90d76c27d962b6d06a90be51ce313c6f" class="img-usp"></div>
        <h3>Suivez l'évolution de vos <b>leads</b></h3>
        <p>
          Nous avons développé un outil CRM qui vous permez un suivi de vos prospects, de déclarer de faux contacts, ou commander de nouveaux rendez-vous en trois clics.
</p>
      </div>
</div>

<div class="hidemobile">
<div class="card-category ">

</div>
</div>
<div class="card-category" >
              <div class="usp-item">
              <div class="usp"><img src="https://www.flaticon.com/svg/vstatic/svg/3472/3472620.svg?token=exp=1610623521~hmac=b9b45b499bec66b546ff07f93e596792" class="img-usp"></div>
        <h3>Des critères <b>garantis</b></h3>

<p>
- Taux d'endettement inférieur à 25%
</p>
<p>
  - Imposition annuelle minimum inférieure à 3500 €.
</p>
      </div>
</div>
<div class="card-category" >
              <div class="usp-item">
              <div class="usp"><img src="https://www.flaticon.com/svg/vstatic/svg/3214/3214721.svg?token=exp=1610624093~hmac=1671c6f3ed48106bd920d0d8ab22ffbe" class="img-usp"></div>
        <h3>Une prospection <b>ciblée </b> </h3>
        <p>
          Notre expertise vous fait gagner du temps. Nos prospects sont ciblés par des professionnels expérimentés, sous reserve de disponibilité dans votre département.
</p>
      </div>
</div>
<div class="card-category" >
              <div class="usp-item">
              <div class="usp">
                <img src="https://www.flaticon.com/svg/vstatic/svg/1528/1528964.svg?token=exp=1610624419~hmac=d587a23043c72d9ae9be024fb1a45f03" class="img-usp"></div>
        <h3>Des pros du <b>pre-sales</b></h3>

      <p>
         Véritables commerciaux sédentaires, nos agents apportent une vraie valeur ajoutée, tant sur le plan de votre développement qu’en termes d’expérience client de vos futurs prospects.
        </p>
      </div>
</div>

</div>
 </div>




<div id="pricing" class="title-section">
 <h2><strong class="fancy-underline" >Nos packs</strong></h2>
</div>
<div class="pricing">
  <div class="pricing-item">
    <h3><i class="fas fa-play"></i><br/>Starter </h3>

    <div class="desc">

5 Rendez-vous exclusifs
    </div>
    <div class="price">
<p>2875 € HT</p>

    </div>


  <%= link_to new_user_registration_path, class: "btn-cta" do %>
      Acheter
    <% end %>
  </div>
  <div class="pricing-item">
        <h3><i class="fab fa-telegram-plane"></i></i><br/>Boost </h3>

    <div class="desc">
10 Rendez-vous exclusifs

    </div>
    <div class="price">
<p>5750 € HT</p>

    </div>

    <%= link_to new_user_registration_path, class: "btn-cta" do %>
      Acheter
    <% end %>
  </div>
  <div class="pricing-item">
            <h3><i class="fas fa-rocket"></i></i><br/>Rocket </h3>
    <div class="desc">
20 Rendez-vous exclusifs

    </div>
    <div class="price">
      <p>11500 € HT</p>
    </div>


    <%= link_to new_user_registration_path, class: "btn-cta" do %>
      Acheter
    <% end %>
  </div>
</div>
<div  class="title-section">
 <h2><strong class="fancy-underline" >Nous contacter</strong></h2>
</div>
<div class="contact" id="contact">


<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email, label: false, placeholder: 'email' %>
    <%= f.input :message, label: false, placeholder: 'message' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Envoyer", class: 'btn-cta' %>
  </div>
<% end %>
</div>








