<!DOCTYPE html>
<html>
  <head>
        <title>Mon-prospect.fr - Obtenir des rendez-vous défiscalisation en 3 clics</title>
    <meta name="description" content="Centre d’appel dédié au métier de la défiscalisation, « MonProspect » s’est structuré afin de proposer une solution complètement intégrée allant de la fourniture de rendez-vous verifié à la gestion de vos équipes via un CRM simple et efficace">
  <meta property="og:title" content="Mon-prospect.fr - Obtenir des rendez-vous défiscalisation en 3 clics">
  <meta property="og:image" content="https://images.unsplash.com/photo-1555421689-3f034debb7a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
  <meta property="og:description" content="Centre d’appel dédié au métier de la défiscalisation, « MonProspect » s’est structuré afin de proposer une solution complètement intégrée allant de la fourniture de rendez-vous verifié à la gestion de vos équipes via un CRM simple et efficace">
  <meta property="og:site_name" content="Mon-prospect.fr - Obtenir des rendez-vous défiscalisation en 3 clics"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZH3CP23FKX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZH3CP23FKX');
</script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>

  </body>
</html>
